<div class="row">
    <div class="mx-auto">
        <form class="mx-auto" asp-action="MarkAsRead" asp-controller="Notification" method="post">
            <div class="row justify-content-center"></div>
            <button type="submit" class="btn btn-outline-success text-dark">Mark As Read</button>
        </form>
    </div>
</div>
